<% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "ログイン", new_user_session_path, method: :get %>
<% end %>

<div class="main">
  <div class = "invitation">
    <div class="row">
      <div class="col s1"></div>
      <div class="col s10">
        <div class="card-panel white lighten-5">
          <div class = "center">
            <p><%= "#{current_user.name}さん、" if user_signed_in? %>二次会に行きましょう！</p>
            <p> 場所: <%= @event.facility.name %> </p>
            <p> イベント名: <%= @event.name %> </p>
            <%= link_to "参加", event_event_users_path(@event), method: :post, class: "waves-effect waves-light btn" %>
            <%= link_to "再検索", root_path, method: :get, class: "waves-effect waves-light btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
